.allPosts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.post {
  width: 30vw;
  height: 8rem;
  margin: 1.75% 0;

  .postTextAlign {
    text-align: center;
  }

  .postTitle {
    color: white;
    background-color: gray;
  }

  .postTitle:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
}

.likesAndDelete {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 15%;
  align-items: center;
}

.thumbsUp {
  padding: 1% 2%;
  background-color: rgba(255, 255, 255, 0.909);
  margin: 1.5%;
  text-align: center;
}