.allPosts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.post {
  width: 30vw;
  height: 8rem;
  margin: 1.75% 0;

  .postTextAlign {
    text-align: center;
  }

  .titleColor {
    color: white;
    background-color: gray;
  }
}

.container {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;

  .backgroundBox {
    display: flex;
    justify-content: center;
    width: 70vw;
    min-height: 80vh;
    background-color: gray;
    margin-top: 3rem;
    margin-bottom: 3rem;

    .postDetails {
      width: 70%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 5rem;
      background-color: #343a40;
      margin-top: 3%;
      margin-bottom: 3%;

      .postAuthorPosition {
        width: 90%;
        display: flex;
        justify-content: flex-end;

        .authorAndEdit {
          display: flex;
          flex-direction: column;
        }
      }

      a {
        color: black;
      }

      a:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
      }


      .postDetailsContents {
        padding: 1% 2%;
        background-color: white;
        margin: 1.5%;
        text-align: center;
      }

      .postLikes {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
      }

      .postDetailsBody {
        width: 90%;
        min-height: 20%;
        text-align: center;
        border-radius: 1.5rem;
        background-color: white;
        color: black;
        margin: 1rem;
      }
    }
  }
}

.newPostInputs {
  width: 90%;
  padding: 1% 0;
  background-color: white;
  margin: 1.5%;
  text-align: center;
}

.topicBtn {
  background-color: white;
  color: black;
}

.createBtn {
  padding: 1% 2.5%;
}