.filterUtilities {
    display: flex;
    flex-direction: row;
    justify-content: end;
  
    .topicsDropdown {
      margin: 1.75% 0;
    }
    .searchBar {
      width: 10%;
      height: 5%;
      margin: 1.75%;
      border-radius: 0.375rem;
      padding: .5rem 0;
      text-align: center;
      background-color: gray;
      color: white;
    }
    input::placeholder {
        color: white;
      }
  }
  