.filterUtilities {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    
    .topicsDropdown {
      margin: 1.75% 0;
    }
    .searchBar {
      width: 15rem;
      height: 2.4rem;
      margin: 1.75%;
      border-radius: 0.375rem;
      padding: .5rem 0;
      text-align: center;
      background-color: #6c757d;
      color: white;
    }
    input::placeholder {
        color: white;
      }
  }
  